/* RESPONSIVE */
/*  pc: width >= 1024px */
@media screen and (min-width: 1025px) {}

/* tablet: 740<= width < 1024 */
@media screen and (min-width: 740px) and (max-width: 1024px) {

}

/* moblie: width < 740px */
@media screen and (max-width: 739px) {
    .card  {
        margin: auto;
        width: 7rem;
        height: 7rem;
    }
    .card h4{
        font-size: 16px;
    }
    .card img {
        margin: auto;
        height: 7rem;
    }
}