@import url("./Variables.css");
@import url("./reset.css");
body{
  background-color: var(--primary-bg-color);
}
.navbar {
  border-radius: 10px;
  background-color: var(--primary-color);
}

.navbar-nav i {
  margin-bottom: 0.9rem;

}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--text-mode-white)
}

.banner-image {
  background-image: url("https://cdn.i-scmp.com/sites/default/files/d8/images/2020/04/16/apple_new-iphone-se-black-camera-and-touch-id_04152020.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

footer{
  background-color: var(--primary-bg-color);
}
